pushi 0
pushn 7
pushi 7
pushi 0
start
pushi 0
storeg 0
lc0:
pushg 0
pushg 8
inf
jz lb0
read
atoi
storeg 9
pushgp
pushi 1
padd
pushg 0
pushg 9

storen
pushg 0
pushi 1
add
storeg 0
jump lc0
lb0:
pushg 8
pushi 1
sub
storeg 0
lc1:
pushg 0
pushi 0
supeq
jz lb1
pushgp
pushi 1
padd
pushg 0
loadn
writei
pushs "\n"
writes
pushg 0
pushi 1
 sub
storeg 0
jump lc1
lb1:

stop
